<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.commodity.dao.CommodityMapper">
    <resultMap id="commodityMap" type="com.training.commodity.entity.Commodity"/>
    <!--获取商品列表-->
    <select id="getCommodityList" resultMap="commodityMap">
        SELECT id as skuId,
        skuTitle from tb_sku
    </select>

</mapper>